# Virtuelle Umgebung ignorieren
.venv/
venv/
daten/
logdatei.log
config.json
jamfscripts/logdatei.log
jamfscripts/ausprobieren.py
jamfscripts/ausprobieren2.py
# PDF-Dateien ignorieren
*.pdf

# (optional) macOS- und VS Code-Sachen ignorieren
.DS_Store
.vscode/
.idea/